<!DOCTYPE html>
<html>
	<head>
		<title>ZTJNMZKZM</title> 
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
   		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
		<link rel="stylesheet"  href="/static/style.css">
	</head>
	<body style="overflow-y:hidden;">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12"style="margin:50px 0;">
					<div class="text">
					<h2>Welkom op de ZoekenTotJeNietMeerZoekenKanZoekMachine</h2> <!-- er gebeuren geen vreemde jinja dingen in deze pagina, dit is allemaal puur html en css-->
					<p>Vul beneden uw zoekopdracht in: </p>
					</div>
					<div class="col-sm-9 h-25"style="margin:10% auto 0 auto;">
			 	 		<div class="form">
							<form method="POST" action="zoekopdracht" class="h-100">
								<div class="searchbar" style="margin-bottom: 40px;">
									<input class="search_input" type="text" name="query" placeholder="Search...">
									<button type="submit" value="" class="search_icon" style="text-decoration:none;"><i class="fas fa-search"></i></button>
								</div>
								<div style="margin: 0 75px;">
									<input type="submit" value="zoeken" class="btn btn-primary" style="margin-right: 25%;padding:auto;float:right;"></input>
								</div>
							</form>
							<form method="POST" action="addtxt">
								<input type="submit" value="voeg artikelen toe" class="btn btn-primary" style="margin-left: 25%;padding:auto;float:left;"></input>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>



              
        
            
           
        



